<div class="panel panel-primary">
    <div class="panel-heading">
        Account List
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-04">
                <input type="text" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-06">
                Filtered By:
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Account
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Vijender Kumar
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!--1. Create new folder accounts (if not exists)
2. Create new folder accounts-list
3. Create new html file "account-list.component.html"
	a. Create/Copy Mark up
4. Create new Type Script file "account-list.component.ts"
	a. Type ng2component
5. Change selctor to "crm-accounts"
6. Change template Url
7. Import the Account List Component to App Modules
8. Declare Account List Component
Add to route if required-->


<!--1. Create product.service.ts file
2. Create new exportable class "ProductService"
3. Make ProudctService Injectable
4. Import HttpModule
5. Import Observable from 'rxjs/Observables'
6. Register HttpModule  from angular/http in AppModule
7. Declare method to called "getProjects" with return type of Observable<IProject[]>
Array
8. Add Product Service to provider array in App Component
9. Add Product Service as Dependcy in Product List Component
10. Implement OnInit on Product List Component
11. In ngOnInit set list of products to get from product service
12. Inject Http in produtService
Call the get method from service to server-->
