<nav class="navbar navbar-default nav">
    <div class=" container ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="#">
                <svg width="20" height="20">
                    <image href="./assets/Logo.svg " src="svg.png " width="20 " height="20 " />
                </svg>
            </a>
        </div>
        <p class="navbar-text ">CRM</p>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Accounts<span class="sr-only">(current)</span></a></li>
            <!--<li><a href="#">Link</a></li>-->
        </ul>
        <p class="navbar-text navbar-right ">Welcome: Vijender Kumar</p>
    </div>
</nav>